

body {
	font-family: Arial;
}

.logs {
	position: absolute;
	top: 100px;
	left: 600px;
}

.stats {
	position: absolute;
	top: 100px;
	left: 24px;
}

.log_contents {
	font-size: smaller;
	overflow: auto;
	border-width: thin;
	border-style:dotted;
	width: 500px;
	height: 300px;
}

.stat_contents {
	font-size: smaller;
	overflow: auto;
	width: 500px;
	height: 300px;
	border-width: thin;
	border-style:dotted;
}

.title {
	position: absolute;
	width: 1124px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: xx-large;
	font-weight: bold;
	background-color: #d8d8d8;
	color: #383838;
}

.footer {
	position: absolute;
	left: 24px;
	width: 1076;
	height: 60px;
	top: 500px;
	border-style: dotted;
	border-width: thin;
	font-size: smaller;
}

.subtitle {
	position: relative;
	width: 100%;
	height: 25px;
	top: 0px;
	left: 0px;
	font-size: larger;
	font-weight: bold;
	background-color: #d8d8d8;
	color: #383838;
	text-align: center;
	padding-top: 10px;
}

.subfooter {
	position: relative;
	border-style: none;
}

.tab {
	display: inline;
	border-style: dotted;
	border-width: thin;
	border-color: #383838;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	border-top-style: none;
}

.button {
	position: relative;
	top: 8px;
	background-color: #383838;
	border-color: #383838;
	border-style: solid;
	border-width: thin;
	padding: 4px;
	display: inline;
	color: d8d8d8;
}

A {
	color: d8d8d8;
	text-decoration: none;
}

.tab A {
	color: #383838;
}

A:hover {
	color: white;
}

.tab A:hover {
	color: black;
}

#active {
	padding-top: 1px;
	z-index: 200;
	background: white;
}
